.nav_imgLogo{
    position: fixed;
    width: 90px;
    
    object-fit: contain;
    left: 20px;
}
.nav_imgAvatar{
    position: fixed;
    width: 30px;
  
   right: 20px;
    object-fit: contain;

}

.nav_black{
    background-color: #111;
   z-index: +1;
}

.nav{
  
    position: fixed;
    
    width: 100%;
    height: 60px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 1s;
    align-items: center;
}

@media only screen and (max-width:662px) {
    .nav{
      padding-top: 10px;
        height: 50px;
    }
    .nav_imgAvatar{
   
        width: 20px;
    }
    .nav_imgLogo{
        
        width: 60px;
    }
}